.musteri-giris{
    border: 1px solid red;
    padding: 3px;
}
.musteri-listesi{
    margin-top: 5px;
    border: 1px solid red;
    padding: 3px;
}
.mb-3{
    margin-bottom: 6px;
}
.form-label{
    display: inline-block;
    min-width: 120px;
   
}
.form-input-text{
    display: inline-block;
    min-width: 50%;
    background-color: antiquewhite;
}
.form-input-text:focus{
    background-color: white;
}
.center{
    text-align: center;
}
.btn{
    width: 70%;
    border: 1px solid dodgerblue;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;            
}
.btn:hover{
    background-color: #C6E7FF;
    color: black;
}
.btn:active{
    background-color: #C000FF;
}